.property {
    @include max-width(160rem);

    &__heading {
        display: block;
        font-size: $font-20;
        font-weight: $weight-medium;
        margin: 1rem 0;
    }

    &__warning {
        @include max-width(fit-content);
        @include rounded($small-border-radius);
        background-color: rgb(255, 243, 205);
        color: rgb(133, 100, 4);
        padding: 1rem 2rem;
        margin: 0 {bottom: 4rem};
    }

    &__step {
        margin: 0 {bottom: 2rem};
    }

    &__address {
        @include x-display-flex;
        @include x-align-items(center);
        gap: 1rem;

        & > div {
            @include x-flex(1 0 24%);
        }
    }

    &__basicInformation {
        @include x-display-flex;
        @include x-align-items(center);
        gap: 1rem;

        & > div {
            @include x-flex(1 0 32%);
        }
    }

    &__utilities {
        @include x-display-flex;
        @include x-align-items(center);
        @include x-flex-wrap(wrap);
        gap: 1rem;

        & > div {
            @include x-flex(1 0 32%);
        }
    }

    &__address {
        @include x-display-flex;
        @include x-align-items(center);
        @include x-flex-wrap(wrap);
        gap: 1rem;

        & > div {
            @include x-flex(1 0 24%);
        }
    }

    &__checkboxes {
        @include x-display-flex;
        @include x-align-items(center);
        @include x-flex-wrap(wrap);
        gap: 1.4rem;

        & > div {
            @include x-flex(0 0 220px);
        }
    }

    &__summaryItems,
    &__landlord {
        @include x-display-flex;
        @include x-align-items(center);
        @include x-flex-wrap(wrap);
        gap: 1rem;

        & > div {
            @include x-flex(1 0 32%);
        }
    }

    &__submit {
        @include x-display-flex;
        justify-content: center;
        margin: 2rem auto;
    }

    &__addresses {
        @include max-width(100%);
        margin: 4rem 0 2rem 0;
        
        max-height: 43rem;
        overflow-y: scroll;

        @extend %scrollbar;
    }
    
    &__addresses-container {
        @include max-width(80rem);
        @include x-display-flex;
        @include x-flex-direction(column);
        gap: 1rem;

        padding: 2rem;
    }

    &__disclaimer {
        display: block;
        margin: 0 2rem;
    
        p {
            font-size: $font-20;
        }
    }

    &__field {
        @include max-width(100%);
    }

    &__dropdown {
        @include x-display-flex;
        @include x-flex-wrap(wrap);
        gap: 2rem;
    }

    &__dropdownItem {
        @include x-flex(1 0 48%);
    }

    &__videos {
        @include max-width(100%);
    }

    &__video {
        @include max-width(100%);

        .section__container > div {
            @include x-flex(1 0 fit-content);
        }
    }

    &__icon {
        svg {
            font-size: $font-20;
            color: rgb(18, 146, 238);
        }
    }

    &__title {
        @include x-display-flex;
        @include x-align-items(center);
        gap: 1rem;
    }

    &__search {
        @include x-display-flex;
        justify-content: flex-end;
    }

    &__selectedProperty {
        @include x-display-flex;
        @include x-align-items(center);
        gap: 1rem;
    }

    &__searchAgain {
        @include rounded-button($font-size: $font-20);
    }
}

.section {
    &__container {
        @include max-width(100%);
        @include x-display-flex;
        @include x-align-items(center);
        gap: 1rem;
    }

    &__buttons {
        @include max-width(fit-content);
        @include x-display-flex;
        @include x-align-items(center);
        gap: 1rem;
        button {
            @include rounded-button($font-size: $font-20);
        }
    }
}